<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")%>
  <body>
    <header class="main-header">
      <%- include("partials/navigation")%>
      <div class="main-header__banner">
        <img src="/images/Banner.jpg" alt="banner" />
      </div>
    </header>

    <main class="main">
      <section class="main__categories">
        
        <div class="main__categories--70">
          <a href="#">
            <p class="discount">70%Off</p>
          </a>
        </div>
        <div class="main__categories--50">
          <a href="#">
            <p class="discount">50%Off</p>
          </a>
        </div>
        <div class="main__categories--30">
          <a href="#">
            <p class="discount">30%Off</p>
          </a>
        </div>
        <div class="main__categories--20">
          <a href="#">
            <p class="discount">20%Off</p>
          </a>
        </div>
      </section>

      <section class="main__banners">
        <div class="main__banners--2X1">
          <a href="#">
            <img src="/images/2X1_BANNER.png" class="banner_image" alt="2X1BANNER"></img>
          </a>
        </div>

        <div class="main__banners--30">
          <a href="#">
            <img src="/images/30DESC_BANNER.png" class="banner_image" alt="30DESCBANNER"></img>
          </a>
        </div>

        <div class="main__banners--50">
          <a href="#">
            <img src="/images/50DESC_BANNER.png" class="banner_image" alt="50DESCBANNER"></img>
          </a>
        </div>
        <div class="main__banners--50">
          <a href="#">
            <img src="/images/50DESCBEAUTY_BANNER.png" class="banner_image" alt="50DESCBANNER"></img>
          </a>
        </div>
      </section>
      <section class="productsCarrousel">
        <h2>TE RECOMENDAMOS</h2>
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% for(let x=0;x<10;x++){%>
              <li class="glide__slide">
                <a href="#">
                  <img
                    src="images/img<%=x+1%>.jpg"
                    alt="img<%=x+1%>"
                    class="productImg"
                /></a>
              </li>
              <%}%>
            </ul>
          </div>
          <!-- <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
              prev
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
              next
            </button> -->
          </div>
        </div>
      </section>
    </main>
    
    <%- include("partials/footer")%>
    <!-- <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
      const config = {
        type: "carousel",
        perView: 5,
        startAt: 0,
        focusar:true,
        hoverpause:true,
        autoplay:true,
        animationDuration:8000,
        breakpoints: { 1350: { perView: 4 }, 1165: { perView: 3 },871: { perView: 2 },579: { perView: 1 } },
      };
      new Glide(".glide", config).mount();
    </script>
    <script src="js/home.js"></script>
  </body>
</html>
